spring:
  application:
    name: inventory-service
  datasource:
    url: jdbc:mysql://mysql:3306/inventory_db
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8084
